<h1>Hi</h1>



<div class="container">
    <% @user.liked_photos.each do |photo| %>    
    <div class="row mb-5">
        <div class="col-md-8 offset-md-2">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title">
                <a href="/users/<%= @user.id %>"><%= @user.username %></a>
                <small>
                  <%= " "+ time_ago_in_words(@user.created_at) + " ago" %>
                </small>
              </h4>
            </div> <!-- card header -->
      
            <div class="card-body">
                  <h4><%= photo.caption %></h4>
                  <a href="/photos/<%= photo.id %>">
                    <img src="<%= photo.image %>" class="img-fluid">
                  </a>
                  <p class="card-text">carol and alice like this <span>Like/Unlike Button</span></p>
                  <% photo.comments.each do |comment| %>
                  <div class="mt-1">
                    <p>
                      <%= comment.user.username %>
                      <span>
                        <small><%= time_ago_in_words(comment.created_at) + " ago" %></small>
                      </span>
                    </p>
                    <p><%= comment.body %></p>
                  </div>
                  <% end %>
                <div class="form-group">
                  <label for="body" class="sr-only">
                    Body
                  </label>

                  <div class="input-group">
                    <input type="text" id="body" name="body" class="form-control" placeholder="Add a comment..." required>

                    <span class="input-group-append">
                      <button class="btn btn-primary" type="submit">
                        <i class="far fa-comment"></i>
                        Add Comment
                      </button>
                    </span>
                  </div> <!-- input-group -->
                </div>  <!-- form-group -->
                
          </div> <!-- card body -->
          </div> <!-- card --> 
        </div> <!-- col -->  
    </div> <!--row -->
    <% end %>
</div>